body {
	background: url('/xiv/timeline/img/escheresque_ste.png');
}

line.timeline {
	stroke-width: 1;
	stroke: black;
}

circle.cap {
	r: 5;
}

g.node {
	background: rgba(0, 0, 0, 0.2);
	stroke-width: 1;
	stroke: black;
	stroke-dasharray: 2;
}

g.node.hover {
	stroke: white;
}

circle.node {
	/*background: rgba(0, 0, 0, 0.2);*/
	r: 3px;
	overflow: auto;
}

line.node {
	/*stroke-width: 1;
	stroke: black;
	stroke-dasharray: 2;*/
}